* {
    font-family: "Helvetica Neue", "Arial Narrow", sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.blue {
    background-color: blue;
}

.red {
    background-color: red;
}

.container {
    padding: 2em;
    color: white;
}

.change-bg {
    cursor: pointer;
    padding: .5em .8em;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 3px;
    color: white;
}